@font-face {
    font-family: "Inter Regular";
    src: url(./src/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter Semibold";
    src: url(./src/fonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(./src/fonts/static/Inter-Bold.ttf);
}